.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*

# Dependency directories
node_modules/
.yarn/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log
npm-debug.log*

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Directories for build artifacts
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test coverage
coverage/

# Miscellaneous
*.tmp

# Generated data files
*.csv
